<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119106651-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-119106651-1');
    </script>
    <title>سرویس کوتاه‌کننده لینک کاتر</title>
    <meta name="subject" content="تبدیل لینک های بلند به کوتاه, کوتاه کننده لینک">
    <meta name="description" content="کوتاه کننده لينک و آدرس هاي اينترنتي ایندکس | سرويس رايگان و بسيار امن کوتاه کننده لينک ها و آدرس هاي طولاني و بلند اينترنتي" />
    <meta name="keywords" content="کوتاه کننده لينک , کوتاه کننده آدرس , indx , indx.ir, کوتاه کننده آدرس هاي اينترنتي , کوتاه کننده آدرس سايت , url کوتاه کننده , url shortener, کوتاه کردن لینک رایگان, address shortener , url کوتاه کننده" />


    <link rel="stylesheet" href="./static/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="./static/css/fontawesome-all.css">
    <link rel="stylesheet" href="./static/css/app.css">
    
</head>

<body>
    
    <script src="./static/js/polythene/polythene-css-standalone.js"></script>
    <script src="./static/js/vendor/jquery.min.js"></script>
    <script src="./static/js/vendor/foundation.min.js"></script>
    <script src="./static/js/mithril/mithril.min.js"></script>
    <script src="./static/js/mithril/stream.min.js"></script>
    <script src="./static/js/polythene-mithril-standalone.js"></script>
    <script src="./static/js/shortner.js"></script>
    <!-- <script>
    $(document).foundation()
    </script> -->
</body>

</html>